
<div class="container">

    {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {{/if}}

    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {{/if}}

    <form method="POST" class="form-horizontal">
        <h3>Get in touch</h3>
        <div class="form-group margin-bottom">
            <label class="col-md-3 text-left" for="message">Message *</label>
            <div class="col-md-9">
                <textarea rows="5" cols="30" class="form-control message" id="message" name="message" required></textarea>
            </div>
        </div>

        <h3>Personal info</h3>

        <div class="form-group">
            <label class="col-md-3 text-left" for="name">Name *</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="name" name="name" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-left" for="email">Email *</label>
            <div class="col-md-5">
                <input type="email" class="form-control" id="email" name="email" required/>
            </div>
        </div>

        <div class="col-md-8">
            <button type="submit" id="feedbackSubmit" class="btn btn-info btn-lg pull-right"><i class="fa fa-paper-plane"></i> Send</button>
        </div>

        <div class="clearfix"></div>
        <hr>

        <span><i class="fa fa-exclamation-triangle"></i> Note: Fields marked with a * are mandatory.</span>
    </form>

</div>
