<div class="cover-main">
  <div class="cover-main-inner">
    <div class="cover-container">

    <div class="masthead clearfix">
      <div class="masthead-inner">
        <h3 class="masthead-brand"><img src="dist/images/logo.png" alt="" width="120"></h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">wat is <strong>bit</strong></a></li>
            <li><a href="#">wie zijn <strong>bit</strong></a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="inner cover">
  <div class="cover-block">
    <h1 class="cover-heading shadow">We are <strong>bit</strong>.</h1>
    <p class="lead shadow">Wij zijn een klein startend media bedrijf dat zich focust op het maken van interactieve websites, apps en webshops. Wij regelen alles, van start tot het einde. Zo hoeft u als klant zich nergens zorgen over te maken!</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-default">\/</a>
    </p>
  </div>
</div>

<div class="bit">
  <img src="/dist/images/bit.png" alt="Bit!">
</div>

</div>


<div class="team-container">
<div class="team-members">

  <div class="inner">
  <h2>Ons Team</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla adipisci suscipit aliquid odio eligendi nisi, doloremque maxime possimus reiciendis illo.</p>
    <div class="row isabelle">
      <div class="col-md-3">
        <img src="dist/images/isabelle.svg">
      </div>
      <div class="col-md-5">
        <h3>I&#8217;m a <strong>bit</strong> …</h3>
        <p>Dit is Isabelle Hol, 22 jaar en functioneert als developer. Ze werkt graag met JavaScript en PHP, maar is altijd in voor nieuwe uitdagingen. Als team halen ze het beste in elkaar naar boven.
</p>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/280x220">
      </div>
    </div>

    <div class="row teun">
      <div class="col-md-3">
        <img src="dist/images/teun.svg">
      </div>
      <div class="col-md-5">
        <h3>I&#8217;m a <strong>bit</strong> creative.</h3>
        <p>Dit is Teun Kelting, een 18-jarige webdesigner en vormgever uit Haarlem. Hij houdt ervan om mooie digitale ontwerpen en interactieve producten te maken. Door zijn grote intresse in de nieuwste technieken in de media wereld ontdekt hij altijd nieuwe manieren om dingen te maken.
</p>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/280x220">
      </div>
    </div>

    <div class="row bob">
      <div class="col-md-3">
        <img src="dist/images/bob.svg">
      </div>
      <div class="col-md-5">
        <h3>I&#8217;m a <strong>bit</strong>...</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae minus incidunt maiores quas, fugiat culpa, facere exercitationem sint deserunt debitis ipsam molestias voluptas? Quas dolor voluptatem incidunt quod iure odit, magnam enim voluptatibus!</p>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/280x220">
      </div>
    </div>

  </div>

  </div>

</div>

<div class="contact-cover">
  <div class="contact-container">
    <div class="row">
      <div class="col-md-6">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contact</legend>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Naam</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Jouw naam" class="form-control">
              </div>
            </div>
    
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Jouw E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Jouw email" class="form-control">
              </div>
            </div>
    
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Jouw bericht</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Vul je bericht hier in..." rows="4"></textarea>
              </div>
            </div>
    
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
    </div>
      <div class="col-md-6">

      <div id="map"></div>

      </div>
    </div>

  </div>
</div>


</div>